/* Utilities */
.container {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.row {
  width: 100%;
  display: flex;
}

.col {
  display: flex;
  flex: 1 1 0;
  max-width: 100%;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-around {
  justify-content: space-around;
}

.align-items-center {
  align-items: center;
}

/* page */
body {
  height: 100vh;
  text-align: center;
  font-family: sans-serif;
  background-color: black;
  color: #caca60;
}

button {
  background-color: black;
  color: #caca60;
  border: none;
}

button:hover {
  font-weight: bold;
  color: #afafaf;
}

.problem {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-evenly;
}

.expression {
  font-size: 4rem;
}

.expression > .lhs {
  flex: 0 1 7em;
  text-align: right;
}

.expression > .rhs {
  flex: 0 1 5em;
  text-align: left;
}

.keypad button {
  font-size: 2rem;
  display: block;
  width: 5rem;
  height: 5rem;
  text-align: center;
}

.result-view th {
  width: 3rem;
  height: 3rem;
  font-size: 1.5rem;
  text-align: center;
  vertical-align: middle;
}

.result-view td {
  border: 1px solid #333;
  width: 3rem;
  height: 3rem;
  font-size: 0.5rem;
  line-height: 1rem;
  letter-spacing: 0.3rem;
  padding-top: 0.2rem;
  padding-left: 0.2rem;
  text-justify: distribute;
  text-align: left;
  vertical-align: top;
}
